.App {
  text-align: center;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.section_temperature {
  background-color: black;
  opacity: 0.8;
  padding: 10px;
  color: white;
  width: 80%;
  height: 200px;
  justify-content: space-between;
  border-radius: 5px;
}
.alignLeft{
  float: left;
  margin-left: 80px;
}
.alignRight {
  float: right;
  margin-right: 80px;
}
.cityname{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 10;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.button{
  margin-left: 2cm;
  background-color: black;
  font-size: 25px;
  color: white;
  border-radius: 5px;
}
.footer {
  background-color: #282c34;
  width: 100%;
  height: fit-content;
  color: #ddd;
  padding: 20px;
}
a {
  color: white;
}
a:hover {
  color: #00F
}